clone/
configs/catalog.yaml
configs/rundirs.json
configs/machine-learning/*batches*.yaml
configs/machine-learning/*data.yaml
configs/simulations/
configs/templates/rundirs.json
install/
scripts/prescriber/__pycache__/
slurm-logs/
*-fv3config.yml
out.log
